body {
    background-image: url('imgs/logo.png');
    background-repeat: no-repeat;
    background-color: white;
    background-position: center 130px;
    background-size: 240px auto;
}

#loginform, #nav, #backtoblog, #lostpasswordform {
    border: 0;
    text-align: center;
    margin-top: 0;
}

#login {
    width: 400px;
    max-width: 100%
    margin: 0 auto;
}

#login h1 a,
.login h1 a {
    background-image: none;
}

.login label {
    display: block;
    margin: 24px 0 6px;
}

.forgetmenot label {
    display: inline;
    margin: inherit;
}

label, input[type=submit] {
    font-weight: bold;
    text-transform: uppercase
}

input {
    height: 48px;
    line-height: 48px;
}

#loginform input:focus,
#lostpasswordform input:focus {
    border-color: #2cca5b !important;
}

.login .message {
    border: 0;
    margin: 0;
}

#loginform #wp-submit,
#lostpasswordform #wp-submit {
    background-color: #38be60 !important;
    border: 0;
    transition: background-color .2s ease;
    margin-top: 12px;
}

#lostpasswordform .submit {
    text-align: center;
}

#lostpasswordform #wp-submit {
    float: none;
}

#loginform #wp-submit:hover,
#lostpasswordform #wp-submit:hover {
    cursor: pointer;
    background-color: #2cca5b
}
