/*--------------------------------------------------------------
 *>>> TABLE OF CONTENTS:
 *----------------------------------------------------------------
 *# Normalize
 *# Variables
 *# Typography
 *# Elements
 *# Forms
 *# Navigation
 *	## Links
 *	## Menus
 *# Accessibility
 *# Alignments
 *# Clearings
 *# Widgets
 *# Content
 *	## Posts and pages
 *	## Comments
 *# Infinite scroll
 *# Media
 *	## Captions
 *	## Galleries
 # Other variables
 *--------------------------------------------------------------
/*--------------------------------------------------------------
 *# Normalize
 *--------------------------------------------------------------
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css

/* Document
 *	 ==========================================================================

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.

html
  line-height: 1.15

  /* 1
  -webkit-text-size-adjust: 100%

  /* 2

/* Sections
 *	 ==========================================================================

/**
 * Remove the margin in all browsers.

body
  margin: 0

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.

h1
  font-size: 3em
  margin: 0.67em 0

/* Grouping content
 *	 ==========================================================================

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.

hr
  box-sizing: content-box

  /* 1
  height: 0

  /* 1
  overflow: visible

  /* 2

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.

pre
  font-family: monospace, monospace

  /* 1
  font-size: 1em

  /* 2

/* Text-level semantics
 *	 ==========================================================================

/**
 * Remove the gray background on active links in IE 10.

a
  background-color: transparent

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.

abbr[title]
  border-bottom: none

  /* 1
  text-decoration: underline

  /* 2
  text-decoration: underline dotted

  /* 2

/**
 * Add the correct font weight in Chrome, Edge, and Safari.

b, strong
  font-weight: bolder

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.

code, kbd, samp
  font-family: monospace, monospace

  /* 1
  font-size: 1em

  /* 2

/**
 * Add the correct font size in all browsers.

small
  font-size: 80%

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sub
  bottom: -0.25em

sup
  top: -0.5em

/* Embedded content
 *	 ==========================================================================

/**
 * Remove the border on images inside links in IE 10.

img
  border-style: none

/* Forms
 *	 ==========================================================================

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.

button, input, optgroup, select, textarea
  font-family: inherit

  /* 1
  font-size: 100%

  /* 1
  line-height: 1.15

  /* 1
  margin: 0

  /* 2

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.

button, input
  /* 1
  overflow: visible

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.

button, select
  /* 1
  text-transform: none

/**
 * Correct the inability to style clickable types in iOS and Safari.

button, [type="button"], [type="reset"], [type="submit"]
  -webkit-appearance: button

/**
 * Remove the inner border and padding in Firefox.

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner
  border-style: none
  padding: 0

/**
 * Restore the focus styles unset by the previous rule.

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring
  outline: 1px dotted ButtonText

/**
 * Correct the padding in Firefox.

fieldset
  padding: 0.35em 0.75em 0.625em

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.

legend
  box-sizing: border-box

  /* 1
  color: inherit

  /* 2
  display: table

  /* 1
  max-width: 100%

  /* 1
  padding: 0

  /* 3
  white-space: normal

  /* 1

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.

progress
  vertical-align: baseline

/**
 * Remove the default vertical scrollbar in IE 10+.

textarea
  overflow: auto

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.

[type="checkbox"], [type="radio"]
  box-sizing: border-box

  /* 1
  padding: 0

  /* 2

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.

[type="number"]
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
    height: auto

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.

[type="search"]
  -webkit-appearance: textfield

  /* 1
  outline-offset: -2px

  /* 2

  &::-webkit-search-decoration
    -webkit-appearance: none

/**
 * Remove the inner padding in Chrome and Safari on macOS.

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.

\::-webkit-file-upload-button
  -webkit-appearance: button

  /* 1
  font: inherit

  /* 2

/* Interactive
 *	 ==========================================================================

/*
 * Add the correct display in Edge, IE 10+, and Firefox.

details
  display: block

/*
 * Add the correct display in all browsers.

summary
  display: list-item

/* Misc
 *	 ==========================================================================

/**
 * Add the correct display in IE 10+.

template, [hidden]
  display: none

/**
 * Add the correct display in IE 10.

/*--------------------------------------------------------------
 *# Variables
 *--------------------------------------------------------------

// Layout module
$m: 24px

// Colors
$color_ramuca_green: #51a56a
$color_ramuca_gold: #ffa100
$color_text: #333

// Layout
$height_adminbar: 32px
$height_adminbar_responsive: 46px
$height_header: $m*5
$height_footer: $m*3

/*--------------------------------------------------------------
 *# Typography
 *--------------------------------------------------------------

//TODO: use local fonts
@import url('https://fonts.googleapis.com/css?family=Asap|Asap+Condensed:700&display=swap')

body, button, input, select, optgroup, textarea
  color: $color_text
  font-family: 'Asap', sans-serif
  font-size: 16px
  font-size: 1rem
  line-height: 1.5

h1, h2, h3, h4, h5, h6
  clear: both
  font-family: 'Asap Condensed', sans-serif
  font-weight: 700

p
  margin-bottom: 1.5em

dfn, cite, em, i
  font-style: italic

blockquote
  margin: 0 1.5em

address
  margin: 0 0 1.5em

pre
  background: #eee
  font-family: "Courier 10 Pitch", Courier, monospace
  font-size: 15px
  font-size: 0.9375rem
  line-height: 1.6
  margin-bottom: 1.6em
  max-width: 100%
  overflow: auto
  padding: 1.6em

code, kbd, tt, var
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace
  font-size: 15px
  font-size: 0.9375rem

abbr, acronym
  border-bottom: 1px dotted #666
  cursor: help

mark, ins
  background: #fff9c0
  text-decoration: none

big
  font-size: 125%

/*--------------------------------------------------------------
 *# Elements
 *--------------------------------------------------------------

html
  box-sizing: border-box

*
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  box-sizing: inherit

  &:before, &:after
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
    box-sizing: inherit

body
  background: #fff

  /* Fallback for when there is no custom background color defined.

hr
  background-color: #ccc
  border: 0
  height: 1px
  margin-bottom: 1.5em

ul, ol
  margin: 0 0 1.5em 3em

ul
  list-style: disc

ol
  list-style: decimal

li >
  ul, ol
    margin-bottom: 0
    margin-left: 1.5em

dt
  font-weight: bold

dd
  margin: 0 1.5em 1.5em

img
  height: auto

  /* Make sure images are scaled correctly.
  max-width: 100%

  /* Adhere to container width.

figure
  margin: 1em 0

  /* Extra wide images within figure tags don't overflow the content area.

table
  margin: 0 0 1.5em
  width: 100%

/*--------------------------------------------------------------
 *# Forms
 *--------------------------------------------------------------

button
  border: 1px solid
  border-color: #ccc #ccc #bbb
  border-radius: 3px
  background: #e6e6e6
  color: rgba(0, 0, 0, 0.8)
  font-size: 12px
  font-size: 0.75rem
  line-height: 1
  padding: .6em 1em .4em

input
  &[type="button"], &[type="reset"], &[type="submit"]
    border: 1px solid
    border-color: #ccc #ccc #bbb
    border-radius: 3px
    background: #e6e6e6
    color: rgba(0, 0, 0, 0.8)
    font-size: 12px
    font-size: 0.75rem
    line-height: 1
    padding: .6em 1em .4em

button:hover
  border-color: #ccc #bbb #aaa

input
  &[type="button"]:hover, &[type="reset"]:hover, &[type="submit"]:hover
    border-color: #ccc #bbb #aaa

button
  &:active, &:focus
    border-color: #aaa #bbb #bbb

input
  &[type="button"]
    &:active, &:focus
      border-color: #aaa #bbb #bbb

  &[type="reset"]
    &:active, &:focus
      border-color: #aaa #bbb #bbb

  &[type="submit"]
    &:active, &:focus
      border-color: #aaa #bbb #bbb

  &[type="text"], &[type="email"], &[type="url"], &[type="password"], &[type="search"], &[type="number"], &[type="tel"], &[type="range"], &[type="date"], &[type="month"], &[type="week"], &[type="time"], &[type="datetime"], &[type="datetime-local"], &[type="color"]
    color: #666
    border: 1px solid #ccc
    border-radius: 3px
    padding: 3px

textarea
  color: #666
  border: 1px solid #ccc
  border-radius: 3px
  padding: 3px

input
  &[type="text"]:focus, &[type="email"]:focus, &[type="url"]:focus, &[type="password"]:focus, &[type="search"]:focus, &[type="number"]:focus, &[type="tel"]:focus, &[type="range"]:focus, &[type="date"]:focus, &[type="month"]:focus, &[type="week"]:focus, &[type="time"]:focus, &[type="datetime"]:focus, &[type="datetime-local"]:focus, &[type="color"]:focus
    color: #111

textarea:focus
  color: #111

select
  border: 1px solid #ccc

textarea
  width: 100%

/*--------------------------------------------------------------
 *# Navigation
 *--------------------------------------------------------------
/*--------------------------------------------------------------
 *## Links
 *--------------------------------------------------------------

a
  color: darken($color_ramuca_green, 20%)
  outline: 0
  text-decoration: none
  transition: color .2s ease-out

  &:visited
    color: darken($color_ramuca_green, 20%)

  &:hover, &:focus, &:active
    color: $color_ramuca_green

  &:focus
    outline: thin dotted

  &:hover, &:active
    outline: 0

/*--------------------------------------------------------------
 *## Menus
 *--------------------------------------------------------------

.main-navigation
  clear: both
  display: block
  float: left
  width: 100%

  ul
    display: none
    list-style: none
    margin: 0
    padding-left: 0

    ul
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2)
      float: left
      position: absolute
      top: 100%
      left: -999em
      z-index: 99999

      ul
        left: -999em
        top: 0

      li
        &:hover > ul, &.focus > ul
          left: 100%

      a
        width: 200px

    li
      &:hover > ul, &.focus > ul
        left: auto

  li
    float: left
    position: relative

  a
    display: block
    text-decoration: none

/* Small menu.

.menu-toggle, .main-navigation.toggled ul
  display: block

@media screen and (min-width: 37.5em)
  .menu-toggle
    display: none

  .main-navigation ul
    display: block

.site-main
  .comment-navigation, .posts-navigation, .post-navigation
    margin: 0 0 1.5em
    overflow: hidden

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous
  float: left
  width: 50%

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next
  float: right
  text-align: right
  width: 50%

/*--------------------------------------------------------------
 *# Accessibility
 *--------------------------------------------------------------
/* Text meant only for screen readers.

.screen-reader-text
  border: 0
  clip: rect(1px, 1px, 1px, 1px)
  clip-path: inset(50%)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute !important
  width: 1px
  word-wrap: normal !important

  /* Many screen reader and browser combinations announce broken words as they would appear visually.

  &:focus
    background-color: #f1f1f1
    border-radius: 3px
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6)
    clip: auto !important
    clip-path: none
    color: #21759b
    display: block
    font-size: 14px
    font-size: 0.875rem
    font-weight: bold
    height: auto
    left: 5px
    line-height: normal
    padding: 15px 23px 14px
    text-decoration: none
    top: 5px
    width: auto
    z-index: 100000

    /* Above WP toolbar.

/* Do not show the outline on the skip link target.

#content[tabindex="-1"]:focus
  outline: 0

/*--------------------------------------------------------------
 *# Alignments
 *--------------------------------------------------------------

.alignleft
  display: inline
  float: left
  margin-right: 1.5em

.alignright
  display: inline
  float: right
  margin-left: 1.5em

.aligncenter
  clear: both
  display: block
  margin-left: auto
  margin-right: auto

/*--------------------------------------------------------------
 *# Clearings
 *--------------------------------------------------------------

.clear
  &:before, &:after
    content: ""
    display: table
    table-layout: fixed

.entry-content
  &:before, &:after
    content: ""
    display: table
    table-layout: fixed

.comment-content
  &:before, &:after
    content: ""
    display: table
    table-layout: fixed

.site-header
  &:before, &:after
    content: ""
    display: table
    table-layout: fixed

.site-content
  &:before, &:after
    content: ""
    display: table
    table-layout: fixed

.site-footer
  &:before, &:after
    content: ""
    display: table
    table-layout: fixed

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after
  clear: both

/*--------------------------------------------------------------
 *# Widgets
 *--------------------------------------------------------------

.widget
  margin: 0 0 1.5em

  /* Make sure select elements fit in widgets.

  select
    max-width: 100%

/*--------------------------------------------------------------
 *# Content
 *--------------------------------------------------------------
/*--------------------------------------------------------------
 *## Posts and pages
 *--------------------------------------------------------------

.sticky
  display: block

.post, .page
  margin: 0 0 1.5em

.updated:not(.published)
  display: none

.page-content, .entry-content, .entry-summary
  margin: 1.5em 0 0

.page-links
  clear: both
  margin: 0 0 1.5em

/*--------------------------------------------------------------
 *## Comments
 *--------------------------------------------------------------

.comment-content a
  word-wrap: break-word

.bypostauthor
  display: block

/*--------------------------------------------------------------
 *# Infinite scroll
 *--------------------------------------------------------------
/* Globally hidden elements when Infinite Scroll is supported and in use.

.infinite-scroll
  .posts-navigation, &.neverending .site-footer
    /* Theme Footer (when set to scrolling)
    display: none

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before.

.infinity-end.neverending .site-footer
  display: block

/*--------------------------------------------------------------
 *# Media
 *--------------------------------------------------------------

.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley
  border: none
  margin-bottom: 0
  margin-top: 0
  padding: 0

/* Make sure embeds and iframes fit their containers.

embed, iframe, object
  max-width: 100%

/* Make sure logo link wraps around logo image.

.custom-logo-link
  display: inline-block

/*--------------------------------------------------------------
 *## Captions
 *--------------------------------------------------------------

.wp-caption
  margin-bottom: 1.5em
  max-width: 100%

  img[class*="wp-image-"]
    display: block
    margin-left: auto
    margin-right: auto

  .wp-caption-text
    margin: 0.8075em 0

.wp-caption-text
  text-align: center

/*--------------------------------------------------------------
 *## Galleries
 *--------------------------------------------------------------

.gallery
  margin-bottom: 1.5em

.gallery-item
  display: inline-block
  text-align: center
  vertical-align: top
  width: 100%

.gallery-columns-2 .gallery-item
  max-width: 50%

.gallery-columns-3 .gallery-item
  max-width: 33.33%

.gallery-columns-4 .gallery-item
  max-width: 25%

.gallery-columns-5 .gallery-item
  max-width: 20%

.gallery-columns-6 .gallery-item
  max-width: 16.66%

.gallery-columns-7 .gallery-item
  max-width: 14.28%

.gallery-columns-8 .gallery-item
  max-width: 12.5%

.gallery-columns-9 .gallery-item
  max-width: 11.11%

.gallery-caption
  display: block
