#masthead
  height: $height_header
  padding: $m/2

.page
  margin: 0

#content
  min-height: calc(100vh - #{ $height_footer + $height_header })
  padding: $m $m $m*3

.entry-content
  margin: 0

.admin-bar #content
  min-height: calc(100vh - #{ $height_footer + $height_header + $height_adminbar })

#main
  width: 960px
  margin: 0 auto
  max-width: 100%

#colophon .ramuca-footer
  +clearfix
  padding: $m $m/2
  +breakpoint('sm')
    padding: $m/2
  .site-info
    display: inline-block
  .login
    float: right
