#colophon

.ramuca-footer
  color: white
  border-left: $m/4 solid darken($color_ramuca_green, 20%)
  border-right: $m/4 solid darken($color_ramuca_green, 20%)
  font-size: .8em
  background: $color_ramuca_green

#colophon h5
  display: inline

+breakpoint('sm')
  #colophon .site-info
    line-height: #{ $height_footer - $m }
