.about .entry-content
  font-size: 1.25em

.about .entry-content ul
  margin: 0
  padding: 0

.about .entry-content ul li ul
  margin-left: $m

.about .entry-content > ul > li
  list-style: none
  padding: $m/4
  & > img
    width: $m*3
    display: block
    margin: 0 auto $m
    opacity: .25
  ul
    margin-top: $m/2

+breakpoint('sm')
  .about .entry-content > ul > li
    display: inline-block
    width: 50%
    max-width: 100%
    float: left
