.site-branding
  display: inline-block
  animation: fadein 1.5s 1 forwards

.custom-logo-link
  transition: opacity 1s ease-out

.custom-logo
  max-width: $m*10

.custom-logo-link:hover
  opacity: .66
