.wpcf7
  width: 640px
  margin: 0 auto
  max-width: 100%
  position: relative
  top: $m*1.5
  p
    margin-bottom: $m/4 !important

.wpcf7 label
  font-family: 'Asap Condensed', sans-serif
  text-transform: uppercase
  display: block
  margin-top: $m/4 !important
  &.required:before
    content: "*"
    color: #d00

.wpcf7 label label
  font-family: 'Asap', sans-serif
  text-transform: none

.wpcf7 input,
.wpcf7 select
  width: 100%
  background: #eee
  line-height: $m*2
  height: $m*2

.wpcf7 textarea
  background: #eee

.wpcf7 input,
.wpcf7 textarea,
.wpcf7 select
  padding: 0 $m
  transition: border-color .2s ease
  &:focus
    border: 2px solid $color_ramuca_green !important

.wpcf7 input[type=submit]
  color: white
  margin-top: $m/2
  background-color: saturate($color_ramuca_green, 20%)
  font-family: 'Asap Condensed', sans-serif
  text-transform: uppercase
  font-size: 1.2em
  border: 0
  transition: background-color .2s ease-out
  &:hover
    cursor: pointer
    background-color: saturate($color_ramuca_green, 30%)

input[readonly]
  color: #999

.helptext
  margin-top: $m/4
  padding: $m/2
  font-size: .9em
  opacity: .9
