.form-help
  position: absolute
  top: $m*7
  right: $m
  width: $m*15
  &:hover
    cursor: help

.form-help__button
  display: inline-block
  font-family: 'Asap Condensed', sans-serif
  line-height: $m*3
  font-size: 2em
  padding: 0 $m
  margin: 0 $m/3
  color: white !important
  text-shadow: 0 0 10px rgba(black, .1)
  border-radius: 4px
  background-color: desaturate($color_ramuca_gold, 15%)

.form-help__text
  display: none
  font-size: 1.5em

.form-help:hover .form-help__text
  display: block
