.home-navigation
  text-align: center
  margin: $m*2 0 $m*6

.home-navigation__item
  text-transform: uppercase
  display: inline-block
  font-family: 'Asap Condensed', sans-serif
  line-height: $m*3
  font-size: 2em
  padding: 0 $m
  margin: 0 $m/3
  color: white !important
  text-shadow: 0 0 10px rgba(black, .1)
  border-radius: 4px
  transition: background-color .2s ease-out

.home-navigation__item--need
  background-color: desaturate($color_ramuca_gold, 15%)
  border: 2px solid white
  &:hover
    border-color: rgba(black, .15)
    background-color: $color_ramuca_gold

.home-navigation__item--offer
  background-color: $color_ramuca_green
  border: 2px solid white
  &:hover
    border-color: rgba(black, .15)
    background-color: saturate($color_ramuca_green, 15%)
