.manifest-template-default .wp-block-image
  display: inline-block
  img
    max-height: $m*6
    width: auto
  a
    transition: opacity .2s ease
  a:hover
    opacity: .75

.manifest-template-default .entry-title
  line-height: 1.2

.manifest-template-default .entry-content
  font-size: 1.35em

.manifest-template-default
  td
    border-bottom: 1px dashed
    text-align: center
    padding: $m/2
  th
    border-bottom: 2px solid
    text-align: center
    font-family: 'Asap Condensed'
    font-size: 1.4em

.sign
  margin: $m*2 0 $m*4

.sign__button
  background-color: #38be60
  color: white
  border: 0
  font-family: 'Asap Condensed'
  font-size: 1.4em
  display: block
  margin: 0 auto
  width: $m*12
  text-transform: uppercase
  transition: background-color .2s ease
  &:hover
    cursor: pointer
    background-color: darken(#38be60, 20%)

.sign__button.plain
  background-color: white
  color: inherit
  pointer-events: none
  &:hover
    cursor: inherit

.sign__form-wrapper.hidden
  display: none

.sign input[type=submit]:hover
  cursor: pointer
