#social-menu
  padding: 0
  margin: $m/2 0 0 0
#social-menu > li
  list-style: none
  display: inline
  margin-left: $m/4
#social-menu > li a
  color: transparent

#social-menu .twitter a:before
  content: url('icons/twitter.svg')
#social-menu .facebook a:before
  content: url('icons/facebook.svg')
#social-menu .instagram a:before
  content: url('icons/instagram.svg')

#social-menu a
  transition: opacity .2s ease-in

#social-menu a:hover:before
  opacity: .75
