.od-list-container--home
  border-bottom: 4px solid darken($color_ramuca_green, 2%)
  background: lighten($color_ramuca_green, 10%)

.od-list-container--home > .od-list
  width: 1200px
  max-width: 100%
  margin: 0 auto

.od-list-container__label--home
  background-color: rgba(black, .25)
  color: white
  text-transform: uppercase
  text-align: center
  line-height: $m*2

.od-list
  padding: 0 $m/2
  +clearfix

.od-list__filters
  font-size: 1.3em
  text-align: center
  margin: $m 0
.od-list__filters select
  font-size: 1.1em
  padding: 0 $m/2
  margin: 0 $m/2
  max-width: calc(100% - #{$m})
  appearance: none
  -moz-appearance: none
  cursor: pointer
  background-color: rgba(black, .05)
  border: 2px dashed
  border-width: 0 0 2px 0
  text-align: center

.od-list__filters-notes
  font-size: .8em
  font-style: italic
  &:before
    content: "\1F4A1"
    font-style: normal

+breakpoint('sm')
  .od-list__column
    display: inline-block
    width: 50%

  .od-list__column:first-child
    float: left

.od-list__column
  padding: 0 $m/2
  color: rgba($color_text, .9)

.od-list__label
  border-bottom: 2px solid
  text-align: center

.od-item
  padding: $m/2
  background-color: rgba(black, .025)
  margin-bottom: $m/2
  border-radius: 4px
  position: relative
  border-left: 4px solid rgba(black, .05)

.od-item.hidden
  display: none

.od-item_hood
  font-family: 'Asap Condensed'
  text-transform: uppercase
  padding: 0 $m/4
.od-item__content
  font-size: 1.3em
  line-height: 1.2
.od-item__availability
  font-style: italic

.od-list__empty
  font-size: 1.3em
  padding: $m
  text-align: center
  transition: opacity 2s ease
  margin-bottom: $m*3
.od-list__empty.hidden
  opacity: 0

.od-item__contact
  display: block
  background-color: rgba(black, .1)
  padding: 0 $m/2
  margin-top: $m/2
  line-height: $m
  text-align: right
  color: rgba($color_text, .85)
  &:visited
    color: rgba($color_text, .75)
  &:hover
    color: white
    background-color: rgba(black, .5)
