#ramuca-map
  width: 100%
  height: 480px
  font-family: 'Asap'
  background-color: #51a56a

#ramuca-map .leaflet-tile
  filter: grayscale(1)

.ramuca-map__label
  background-color: darken(#51a56a, 20%)
  color: white
  margin: 0
  padding: $m/4 0
  text-align: center
  text-transform: uppercase

.leaflet-bar,
.leaflet-bar a
  border: 0 !important
  border-radius: 0 !important

#ramuca-map .leaflet-popup-content-wrapper
  border-radius: 0
  font-size: 1.2em

#ramuca-map .ramukita__name
  text-transform: uppercase
  font-size: 1.5em
  margin-bottom: $m/2

.ramukita__contact
  a
    font-size: 1.2em
    transition: background-color .2s ease
    color: white !important
    display: block
    text-align: center
    &:before
      content: "\2709"
      font-family: sans-serif
      margin-right: $m/4
  a:link, a:visited
    background-color: #256b3b
  a:hover
    background-color: saturate(#256b3b, 10%)
  a:active
    background-color: #256b3b

.ramukita__contact-notes
  font-size: 1em
  font-style: italic
