.ramuca-news__label
  background-color: #ddd
  margin: 0
  padding: $m/4 0
  text-align: center
  text-transform: uppercase
  margin-bottom: $m
.ramuca-news
  text-align: center
  background-color: #eee
  padding-bottom: $m
