.resource
  display: block
  color: $color_text !important
  +clearfix
  margin: 0 0 $m/2
  padding: $m/2 0
  +breakpoint('sm')
    padding: $m 0
  border-top: 1px dashed

.resource.hidden
  display: none

.resource__data
  font-size: 1.2em
  +breakpoint('sm')
    padding: 0 $m $m

+breakpoint('sm')
  .resource__image
    width: $m*10
    display: inline-block
    float: left
    clear: both

  .resource__image,
  .resource__data
    vertical-align: middle

  .resource__data
    display: inline-block
    float: right
    width: calc(100% - #{$m * 10})

.resource__image
  background: #eee
  text-align: center
  margin-top: 0

.resource__image .placeholder
  margin: $m 0
  width: 50%
  opacity: .1

.resource__categories
  font-size: .8em
  margin: 0 0 $m/4
  font-weight: bold

.resource__categories-hood:not(:empty):before
  content: "|"
  margin: 0 $m/4
  font-weight: normal

.resource__data-name
  text-transform: uppercase
  margin-top: 0
  border-bottom: 2px solid $color_text

.resource__data-description
  margin-bottom: 0

.resource__links
  clear: both
  text-align: right
.resource__link
  list-style: none

.resource:hover .resource__note
  color: darken($color_ramuca_green, 20%)

.resource-filters
  font-size: 1.5em
  text-align: center
  padding: $m/2
  margin: $m 0
.resource-filters__select
  appearance: none
  border: 0
  margin: 0 $m/3
  -webkit-appearance: none
  -moz-appearance: none
  padding: $m/3 $m/2
  border-bottom: 2px dashed
  text-align: center
  background-color: #f5f5f5

.resources__empty
  clear: both
  border-bottom: 1px dashed
  border-top: 1px dashed
  font-size: 1.25em
  padding: $m
  margin-top: $m*2
  &:before
    content: url('./icons/alert-circle.svg')
    padding: $m/2
    float: left

.resources__empty.hidden
  display: none
