#site-navigation
  position: absolute
  top: 0
  right: $m/2
  display: inline-block
  width: auto

body.navigation-toggled
  overflow: hidden

.admin-bar #site-navigation
  top: $height_adminbar_responsive
+breakpoint('sm')
  .admin-bar #site-navigation
    top: $height_adminbar

#primary-menu
  font-family: 'Asap Condensed', sans-serif
  font-weight: 700
  font-size: 1.25rem
  opacity: .9
  text-transform: uppercase

#primary-menu
  .menu-item
    line-height: $m*2
    margin-left: $m
    a
      border-top: $m/3 solid transparent
      transition: border-color .2s ease
      color: $color_text
  .menu-item a:hover
    border-top: $m/3 solid $color_ramuca_green
  .current_page_item a
    border-top: $m/3 solid darken($color_ramuca_green, 20%)

// Responsive navaigation


#site-navigation.toggled
  position: fixed
  padding-top: $m*5
  top: 0
  right: $m/2
  display: block
  width: 100vw
  height: 100vh
  background: white
  z-index: 100
.admin-bar #site-navigation.toggled
  top: $m*2
.toggled #primary-menu .menu-item
  display: block
  float: none
  text-align: center
  font-size: 1.5em
  line-height: $m*3
  a
    border-top: 0 !important
.menu-toggle
  border: 0
  background: white
  position: absolute
  top: $m
  right: 0
  &:hover
    cursor: pointer
.menu-toggle i
  display: block
  height: $m/4
  width: $m*1.25
  margin-bottom: $m/6
  background-color: $color_text
  transition: transform .5s ease
.toggled .menu-toggle i
  &:first-child
    transform: translateY(5px) rotate(45deg)
  &:nth-child(2)
    display: none
  &:last-child
    transform: translateY(-5px) rotate(-45deg)
